<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  
  <!--log日志设定-->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      
      <default-target-parameters xsi:type="File" keepFileOpen="false"/>
      <target name="f1" xsi:type="File" fileName="logs/log/${shortdate}.txt" layout="${longdate}   [${logger}]    ${message}"/>
      <target name="LeftVision" xsi:type="File" fileName="logs/vision/${shortdate}/${literal:text=LeftCamer}${shortdate}.txt" layout="${longdate}   [${logger}]    ${message}"/>
      <target name="UI" xsi:type="File" fileName="logs/log/${literal:text=UI}${shortdate}.txt" layout="${longdate}   [${logger}]    ${message}"/>
      <target name="Alarm" xsi:type="File" fileName="logs/log/${literal:text=Alarm}${shortdate}.txt" layout="${longdate}   [${logger}]    ${message}"/>
      
    </targets>
    <rules>
      <logger name="LeftCameraVision" minlevel="Debug" writeTo="LeftVision" enabled="true" final="true"/>
      <logger name="LogUI" minlevel="Debug" writeTo="UI" enabled="true" final="true"/>
      <logger name="LogAlarm" minlevel="Debug" writeTo="Alarm" enabled="true" final="true"/>
      <logger name="*" minlevel="Debug" writeTo="f1" enabled="true"/>
      <!--
      <logger name="textLogger" minlevel="Info" writeTo="textbox" enabled="true"/>-->
    </rules>
  </nlog>
  
</configuration>
